body {
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px; 
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #003B09;
}

/* Container pai para alinhar lado a lado */
.container { 
  padding-right: 350px; 
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 100vh;
  margin: 0;
} 

.containerLoginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Container principal de Login */
.containerLogin {
  flex: 1;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 9% - 40px); /* Altura da tela menos header e footer */
  max-width: 400px;
  text-align: center;
}

/* Estilo para a div da imagem da pag de login */
.loginImage {
  flex: 1;
  max-width: 500px;
  padding-left: 500px;
  padding-bottom: 100px;
}

.loginImage img {
  max-width: 100%; /* Faz a imagem se ajustar à coluna */
  height: auto; /* Mantém a proporção */
  border-radius: 8px; /* Opcional: arredonda a imagem */
}

.LoginForm {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 700px;
  height: 450px;
  background-color: transparent; 
  overflow: hidden;
}

.LoginForm h1 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

.LoginForm h5 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
}

.LoginForm p {
  margin-bottom: 20px;
  margin-top: 0px;
  padding-left: 9px;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-size: 12px;
}

.forgotPassword {
  margin-top: 5px;
  font-size: 12px;
  color: orange;
  cursor: pointer;
}

.forgotPassword:hover {
  text-decoration: underline;
}

/** Forms geral */

/* Grupo de campos (inputs e labels) */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}


/* Titulo de cada barra ISTO NAO É LOGIN */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: black;
}

/* Input do utilizador*/
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

.form-group input:focus {
  border-color: #008013;
  outline: none;
}

.innerForm div {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: fit-content;
  margin-top: 15px;
  margin-left: 150px;
}

form label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: black;
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  display: block;

}

form input {
  width: 220px;
  height: 10px;
  padding: 10px;
  border: 1px solid #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #333;
  transition: border-color 0.3s ease;
  margin-left: 15px;
  margin-bottom: 7px;
  transition: border-color 0.3s;
}

form h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #008013;
  margin-top: 15px;
  margin-left: 15px;
}

form h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #008013;
  margin-top: 5px;
  margin-left: 15px;
}

form p{
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-top: 5px;
  margin-left: 15px;
}

.form input:focus {
  border-color: #239300;
  outline: none;
}

form ::placeholder {
  color: #a5a5a5;
  font-size: 12px;
  font-weight: 400;
}

/* Botao da pagina de login */
form button{
  width: 150px;
  height: 40px;
  background-color: #a7ef7a;
  border: none;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 14px;
  text-align:center;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease; 
}

form button:hover {
  color: white;
  background-color: #6be32b;
}

form button:active {
  transform: scale(0.98);
}

/* este botao nao é do login */
button {
  width: 150px;
  height: 40px;
  background-color: #a7ef7a;
  border: none;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 14px;
  text-align:center;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease; 
}

button:hover {
  color: white;
  background-color: #6be32b;
}

button:active {
  transform: scale(0.98);
}

/** Registo Utilizador */

/* class para os selectors (tipo user) */
form select {
  height: 40px;
  width: 150px;
  margin-top: 5px;
  margin-left: 10px;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
}

.DivGerar {
  display: flex;
  flex-direction: row;
  margin: 0;
}

/*Div gerar password */
.btGerar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Botão de gerar password */
.Gerar{ 
  margin-top: 15px; 
} 

/* Botão da div de gerar password */
.btGerar button {
  font-size: 14px;
}

/* Botão de registo */
.btReg button {
  width: 150px;
  height: 40px;
  background-color: #a7ef7a;
  border: none;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 14px;
  text-align:center;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease; 
}

btReg button:hover {
  background: #6be32b;
  color: white;
}

/* Div password gerada */
.containerPass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  margin-top: 35px;
  margin-left: 20px;
  padding-left: 10px;
}

/*input radio*/
.line4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.line4 input {
  height: 15px;
  width: 15px;
}

/*input checkbox*/
.line5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.line5 input {
  height: 15px;
  width: 15px;
}

/* checkbox termos e condiçoes */
.checkbox-item input[type="checkbox"] {
  width: 15px; 
  height: 15px;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */

/** Cursos */
.containerCursos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 0;
  margin-top: 50px;
}

.Courses {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  padding-top: 30px;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.Courses li {
  width: 300px;
  height: 300px;
  padding: 30px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.Courses li:hover {
  transform: translateY(-5px);
}

.Courses li img {
  width: 100;
  height: auto;
  object-fit: cover;
}

.Courses li h3 {
  font-size: 16px; /* Reduz o tamanho da fonte */
  color: #333;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/** Erro */
.errorPage {
  padding-top: 50px;
  background-color: #f4f3f2;
  width: 100%;
  height: 100vh; /* Altura igual à altura total da janela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorPage h1,
p {
  margin: 7px;
}

.errorPage img {
  height: 500px;
  width: auto;
}

