/* Definições Gerais para a Fonte */
body {
  font-family: 'Montserrat', sans-serif; /* Fonte principal */
  font-size: 16px; /* Tamanho base */
  line-height: 1.6; /* Altura da linha para boa legibilidade */
  color: #333; /* Cor padrão do texto */
  margin: 0;
  padding: 0;
}

/* Estilo para Cabeçalhos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Usar a mesma fonte para consistência */
  color: #222; /* Cor ligeiramente mais escura para destacar */
  line-height: 1.3; /* Mais compacto que o corpo */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Tamanhos dos Cabeçalhos */
h1 {
  font-size: 2.5rem; /* Tamanho grande para títulos principais */
  font-weight: 700; /* Negrito */
}

h2 {
  font-size: 2rem; /* Subtítulos */
  font-weight: 600; /* Negrito moderado */
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

/* Parágrafos */
p {
  font-size: 1rem; /* Tamanho base para leitura confortável */
  margin-bottom: 1rem; /* Espaço entre parágrafos */
  color: #555; /* Cor ligeiramente mais clara que os cabeçalhos */
}

/* Estilo para Links */
a {
  color: #6BE32B; /* Verde alface */
  text-decoration: none; /* Remove o sublinhado */
}

a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
