/** Definições Gerais*/
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Evita scroll indesejado */
  background-color: #F4F3F2;
}

/** Estilo Geral para Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/** Tamanhos dos Títulos */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

/** Parágrafos */
p {
  font-size: 1rem;
  color: black;
}

/** Links */
a {
  color: #008013;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/** Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.logo img {
  max-height: 45px;
  width: auto;
  margin-left: 30px;
}

.header-icons {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.header-icons svg {
  height: 22px;
  width: 22px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #008013;
}

.header-icons svg:hover {
  color: #6BE32B;
}

/** Footer */
.footer {
  background-color: #F6F6F6;
  color: #A5A5A5;
  align-items: center;
  text-align: left;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  padding: 5px;
  padding-bottom: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.footer p {
  font-size: 11px;
  align-items: center;
}