.chat-room {
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 320px;
    height: 520px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.chat-header {
    background-color: #008013;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espaçamento entre mensagens */
}

.message {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 8px;
    font-size: 0.9rem;
    color: #333;
}

.message .timestamp {
    font-size: 0.75rem;
    color: #777;
    margin-left: 10px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f8f9fa;
    gap: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

.chat-input input:focus {
    border-color: #008013;
    box-shadow: 0 0 3px rgba(0, 128, 19, 0.5);
}

.chat-send-button {
    background-color: #a7ef7a;
    color: black;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.chat-send-button:hover {
    background-color: #6be32b;
    color: white;
}
