
/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{ 
  background-image: url('src/assets/smilelogin.png'); 
  background-size:cover;  
} 

body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden; /* Evita scroll indesejado */

}

/* Header fixo no topo */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 9%;
  width: 100%;
  padding: 0 20px;
  /* Espaçamento nos lados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.logo img {
  max-height: 50px;
  width: auto;
  margin-left: 20px;
  font-size: 1.5rem;
}

.header-icons { 
  display: flex;
  gap: 50px; /* Espaçamento entre ícones */
  margin-right: 20px;
}

.header-icons svg {
  height: 25px; 
  width: 25px;
  cursor: pointer; /* Transforma o ícone em interativo */
  transition: color 0.3s ease-in-out;
  color: #008000;
}

.header-icons svg:hover {
  color: #6BE32B; /* Cor ao passar o mouse */
}

/* Menu lateral fixo */
.sidebar {
  background-color: #222;
  color: white;
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 8%; /* Após o Header */ 
  left: 0;
  overflow-y: auto;
  padding: 20px;
  z-index: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.main-content {
  width: 100; 
  height: 100vh; 
  margin-top: 4%; /* Evita que o Header cubra o conteúdo */
  margin-left: 17%; /* Evita que a Sidebar cubra o conteúdo */
  /* padding-bottom: 6%; */ 
  /* padding: 20px; */
  background-color: #f4f4f4;
  position: relative;
  z-index: 0; /* Menor prioridade */
  overflow: auto; /* Permite scroll se necessário */
  box-sizing: fit-content;
}

/** Banner **/
.banner {
  width: 100%;
  margin: 0px;
}

/* Footer fixo no rodapé */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5%;
  padding: 10px;
}

@media (min-width: 320px) and (max-width: 767px) { 
  .header{ 
    height: 7%; 
  } 
  
  .header-icons{ 
    gap:5px; 
    margin-right: 5px; 
  } 
  
  .footer p{ 
    font-size: 10px; 
  } 
  
  .sidebar{ 
    padding: 30px; 
    top: 5%; 
  }

  .sidebar p{ 
    font-size: 10px;
  } 
} 
