/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{ 
  background-image: url('src/assets/smilelogin.png'); 
  background-size:cover;  
} 

body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden; /* Evita scroll indesejado */

}

/* Menu lateral fixo */
.sidebar {
  background-color: #222;
  color: white;
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 8%; /* Após o Header */ 
  left: 0;
  overflow-y: auto;
  padding: 20px;
  z-index: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.main-content {
  width: 100; 
  height: 100vh; 
  margin-top: 4%; /* Evita que o Header cubra o conteúdo */
  margin-left: 17%; /* Evita que a Sidebar cubra o conteúdo */
  /* padding-bottom: 6%; */ 
  /* padding: 20px; */
  background-color: #f4f4f4;
  position: relative;
  z-index: 0; /* Menor prioridade */
  overflow: auto; /* Permite scroll se necessário */
  box-sizing: fit-content;
}

/** Banner **/
.banner {
  width: 100%;
  margin: 0px;
}

@media (min-width: 320px) and (max-width: 767px) {  
  .sidebar{ 
    padding: 30px; 
    top: 5%; 
  }

  .sidebar p{ 
    font-size: 10px;
  } 
} 
